html,
body {
    text-align: center;
}

body {
    background-image: url(/assets/images/RestauranteBG4.jpg);
    background-position: center;
    background-attachment: fixed;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.neon {
    padding-top: 40px;
    padding-bottom: 25px;
    /*Edita esto si se pega mucho el carrousel*/
    font-family: Comic Sans MS, sans-serif;
    transition: text-shadow 0.5s ease 0s;
    border-radius: 10px;
}

.nav-pills {
    justify-content: center;
}

.tab-pane {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: #dd4646;
}

.carousel-item p {
    color: white;
}

.accordion {
    padding-top: 15px;
}

.accordion-body {
    font-family: Tahoma;
    font-size: 25px;
    color: white;
    background-color: black;
    justify-content: center;
}

.accordion-item {
    border: 1px solid black;
}

.accordion-button {
    font-family: Tahoma;
    font-size: 30px;
    color: white;
    background: black;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgb(17, 17, 17);
    color: white;
}

.interior1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.price {
    color: springgreen;
}

.comollegar {
    padding-top: 30px;
}

p.card-text {
    color: white;
    font-size: 24px;
}

.card {
    border: black;
    background-color: black;
}

.card-title {
    color: white;
    font-size: 30px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}