html,
body {
    text-align: center;
    height: 100%;
}

body {
    background-image: url(/assets/images/bg2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.neon {
    padding-top: 40px;
    padding-bottom: 25px;
    /*Edita esto si se pega mucho el carrousel*/
    font-family: Comic Sans MS, sans-serif;
    transition: text-shadow 0.5s ease 0s;
    border-radius: 10px;
}

.nav-pills {
    justify-content: center;
}

.tab-pane {
    color: white;
}

.nav-pills .nav-link.active {
    background-color: green;
}

.carousel-item p {
    color: white;
}

.accordion {
    padding-top: 15px;
}

.accordion-body {
    font-family: Tahoma;
    font-size: 25px;
    color: white;
    background-color: black;
    justify-content: center;
}

.accordion-button {
    text-transform: uppercase;
    text-align: center;
    display:block;
}

/*Borde del acordeón negro */

.accordion-item {
    border: 1px solid rgb(17, 17, 17);
}

/*Acordeón plegado negro */

.accordion-button {
    font-family: Tahoma;
    font-size: 30px;
    color: white;
    background: black;
}

/*Tono grisaceo en el acordeón desplegado activo */

.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgb(17, 17, 17);
    color: white;
}

.interior1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.price {
    color: springgreen;
}

.comollegar {
    padding-top: 30px;
}

p.card-text {
    color: white;
    font-size: 24px;
}

.card {
    border: black;
    background-color: black;
}

.card-title {
    color: white;
    font-size: 30px;
}

.carousel-control-prev {
    left: -100px;
}

.carousel-control-next {
    right: -100px;
}

.rating {
    padding-bottom: 40px;
}

/* Valoraciones en oscuro */

.list-group-item {
    background-color: rgb(17, 17, 17);
    color: white;
}

.list-group-item:hover {
    background-color:rgb(41, 41, 41);
    color: white;
}

.list-group-item.active {
    background-color: rgb(41, 41, 41);
    border: 1px solid black;
}

/*Estilo de las valoraciones */

.dias {
    color: rgb(199, 199, 199);
    font-style: italic;
    font-family: serif;
}

.res {
    font-family: Tahoma;
    font-style: italic;
}

/* Salir del modal centrado */

.modal-footer {
    justify-content: center;
}

/* Estilo de las valoraciones de los platos */

.valoraciones {
    color: white;
}

.modal-title {
    color: white;
    font-weight: 700;
}

.modal-content {
    background-color: black;
}

p.dias {
    font-size: 12px;
}

h1 {
    padding-bottom: 15px;
    padding-top: 15px;
    text-transform: uppercase;
    color: snow;
    font-size: 80px;
    font-weight: 800;
}

.anim {
    -moz-transition: color 2s;
    transition: color 1s;
}

h1:hover {
    color: red;
}

/* Que el header 1 sea responsive */

@media (min-width: 1200px) {
    h1 {
      font-size: 80px;
    }
  }
  @media (max-width: 1199px) {
    h1 {
      font-size: 50px;
    }
  }