html,
body {
    text-align: center;
}

body {
    background-color: rgb(69, 69, 69);
}

.neon {
    padding-top: 40px;
    padding-bottom: 25px; /*Edita esto si se pega mucho el carrousel*/
    font-family: Comic Sans MS, sans-serif;
    transition: text-shadow 0.5s ease 0s;
    border-radius: 10px;
}

.nav-pills {
    justify-content: center;
}

.nav-pills .nav-link.active {
    background-color: #dd4646;
}